.sv_select_wrapper {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  line-height: 2em;
  outline: none;
  position: relative;
  font-size: 18px;
  border: none;
  background-color: #000154;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sv_main
  input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="image"]):not([type="checkbox"]):not([type="radio"]) {
  padding-left: 0;
  border-color: #e7e7e7;
}
.sv_main
  input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="image"]):not([type="checkbox"]):not([type="radio"]):focus {
  border-color: #000154;
}
.sv_main .sv_p_root .sv_q .sv_q_dropdown_control {
  padding-left: 0;
}
#back-to-survey {
  cursor: pointer;
  margin: 1rem 0 0 2rem;
  padding: 3px 1.5rem;
  display: inline-block;
  line-height: 2em;
  outline: none;
  position: relative;
  font-size: 18px;
  border: none;
  background-color: #67688f;
  color: #000154;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#back-to-survey:hover {
  background-color: #adadad;
  color: #ffffff;
}
#back-to-survey::after {
  display: none;
}