.sv_main {
  background-color: #000154;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 0;
}
.sv_main .sv_body {
  border-top: none;
}
.sv_container {
  color: #000154;
}
form {
  background-color: #000154;
}
.main {
  background-color: #000154;
}
.sv_custom_header {
  background-color: #000154 !important;
}
.sv_header__text > h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sv_header__text > h3 > span {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.75rem;
  letter-spacing: 2px;
  font-weight: bold;
}
.sv-action-bar {
  margin-top: 1rem;
}
.sv_container {
  margin: 0 2rem;
}
.sv-action__content {
  font-size: 1.25rem;
}
.sv_main input[type="button"],
.sv_main button {
  border-radius: 5px;
  font-weight: normal;
  font-size: 18px;
  transition: all 0.3s;
  background-color: #000154;
}
.sv_main input[type="button"]:hover,
.sv_main button:hover {
  background-color: #00011b;
}
.sv_main .sv_select_wrapper:before {
  background-color: #000154;
}
.sv_main .sv_body.sv_completed_page {
  font-size: 2rem;
  color: #000154;
}
.sv_main .sv_q_erbox:not([style*="display: none"]):not([style*="display:none"]) {
  background: none;
  border: none;
}
.sv_main .sv_p_root .sv_q .sv_q_erbox:not([style*="display: none"]):not([style*="display:none"]) {
  margin: 0;
  padding: 0;
}
