@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

* {
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
}
.main {
  background-color: rgb(238, 238, 238);
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: lightgray;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #67688f;
  border-radius: 5px;
}
